// SMACSSsmacss (http://smacss.com/)
// Uncomment to use Compass or Bourbon!
// @import "compass"; See base/_base.scss for Compass example.
// @import "bourbon"; See modules/_btns.scss for Bourbon example.

//@import "base/_base"; // Base
//@import "layout/_layout"; // Layout
//@import "modules/_modules"; // Modules
// more includes depending the project

body { background:red; }